### Swift ###
#Xcode
#

Story.xcodeproj/xcuserdata/alexandremadeira.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

# Ignore .DS_Store files
.DS_Store
Story.xcodeproj/project.xcworkspace/xcuserdata/alexandremadeira.xcuserdatad/UserInterfaceState.xcuserstate
