<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>dev.alexandremadeira.Cronica.refresh</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
		<key>UITabBar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
		<key>UIToolbar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
